.gbc_MyMainContainerWidget {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    padding: 1em;
    background-color: $theme-primary-faded-background-color;
    color: $theme-primary-color;
    text-align: left;
  }
  > .containerElement {
    flex: 1 1 0px;
    position: relative;
  }
  > footer {
    padding: 1em;
    background-color: $theme-primary-faded-background-color;
    color: $theme-primary-color;
    text-align: center;
  }
}
